.product-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: calc(var(--product-width) / 1.77) ;
  border-radius: var(--borderRadius);
  border: 2px solid var(--color);
  background: var(--greyOne);
  background-image:   linear-gradient(30deg, var(--diffCol) 12%, transparent 12.5%, transparent 87%, var(--diffCol) 87.5%, var(--diffCol)),
                      linear-gradient(150deg, var(--diffCol) 12%, transparent 12.5%, transparent 87%, var(--diffCol) 87.5%, var(--diffCol)),
                      linear-gradient(30deg, var(--diffCol) 12%, transparent 12.5%, transparent 87%, var(--diffCol) 87.5%, var(--diffCol)),
                      linear-gradient(150deg, var(--diffCol) 12%, transparent 12.5%, transparent 87%, var(--diffCol) 87.5%, var(--diffCol)),
                      linear-gradient(60deg, var(--backgroundTwo) 25%, transparent 25.5%, transparent 75%, var(--backgroundTwo) 75%, var(--backgroundTwo)),
                      linear-gradient(60deg, var(--backgroundTwo) 25%, transparent 25.5%, transparent 75%, var(--backgroundTwo) 75%, var(--backgroundTwo));
  background-size: var(--product-width) var(--product-height);
  background-position: 0 0, 0 0, calc(var(--product-width) / 2) calc(var(--product-height) / 2), calc(var(--product-width) / 2) calc(var(--product-height) / 2), 0 0, calc(var(--product-width) / 2) calc(var(--product-height) / 2);
}
 

/*------------------------------------------*/
@media(max-width: 1200px){
  .product-container{
    grid-template-columns: repeat(3, 1fr);
  }
}

@media(max-width: 830px){
  .product-container{
    grid-template-columns: repeat(2, 1fr);
    margin-inline: 10px;
  }
}

@media(max-width: 500px){
  .product-container{
    grid-template-columns: repeat(1, 1fr);
  }
}