.collage-container{
  position: relative;
}
  
.collage-container > img{
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
  border-radius: var(--borderRadius);
  scale: 1;
}
  
.collage-header{
  font-size: 120px;
  -webkit-text-fill-color: rgb(255, 247, 0);
  -webkit-text-stroke: 2px solid rgb(62, 1, 81);
  -webkit-text-stroke-width: 2px;;
  -webkit-text-stroke-color: rgb(62, 1, 81);
  margin: 30px;
  line-height: 92%;
  font-family: var(--graffiti);
}
  
.collage-container > a{
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translateX(-50%);
}