.skew-details{
  transform: skewY(-30deg);
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  padding-left: 10px;
  margin-top: 20px;
}
