/*______________________________HOME COMPONENT_______________________________*/
.home{
    padding: 7vh 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}
  

/*______________________________SHOP COMPONENT_______________________________*/


/*______________________________WOMEN COMPONENT_______________________________*/



/*______________________________MEN COMPONENT_______________________________*/
