.collage-container{
  position: relative;
}
  
.collage-container > img{
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
  border-radius: var(--borderRadius);
  scale: 1;
}
  
.collage-header{
  font-size: clamp(3.75rem, 1.4063rem + 7.5vw, 5.625rem);  -webkit-text-fill-color: rgb(0, 255, 251);
  -webkit-text-stroke: 1px solid rgb(62, 1, 81);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(62, 1, 81);
  margin: clamp(0.625rem, -0.9375rem + 5vw, 1.875rem);
  font-family: var(--graffiti);
}
  
.collage-container > a{
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translateX(-50%);
}