@import url('https://fonts.cdnfonts.com/css/most-wasted');

:root{
  --color: #000000;
  --background: #fdfdff;
  --backgroundTwo: #e9e9e9;
  --greyOne: #d7d6d6;
  --borderRadius: 5px;
  --graffiti: 'Most Wazted', sans-serif;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
  text-decoration: none;
}

body{
  width: 100%;
  background: var(--background);
  color: var(--color)
}

.section{
  margin-top: 15vh;
  padding: 7vh 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  background: radial-gradient(rgba(0, 0, 0, 0.2) 8%, transparent 8%);
  background-position: 0% 0%;
  background-size: 3vmin 3vmin;
  z-index: 0;
}

.container{
  height: 65vh;
  width: calc(100% - 100px);
  border-radius: var(--borderRadius);
  border: 2px solid var(--color);
  z-index: 1;
}




